<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserId</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Changes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{comment.postId}}</td>
        <td>{{comment.name}}</td>
        <td>{{comment.email}}</td>
        <td>{{comment.body}}</td>
        <!-- <td>
          <div class="btn-group">
            <button class="btn btn-primary btn-sm" (click)="editPost(comment)">Edit</button>
            <button class="btn btn-danger btn-sm mx-1" (click)="deletePost(post)">Delete</button>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>